.panel-post {
  h1, h2, h3, h4, h5 {
    &:first-child {
      margin-top: 0;
    }
  }
  p, blockquote {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// New window icon within links
sup .glyphicon-new-window {
  font-size: 70%;
}
