html {
  font-size: 10px !important;
}

nav {
  animation: headerpulse 4.20s infinite alternate;
}

.container {
  margin-top: 1em;
}

@import 'overrides.less';
@import 'posts.less';
@import 'animations.less';
@import 'mixins.less';
