<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-post">
        <div class="panel-body">
          <p>
            I do what I love and love what I do. This page is an expression of how
            I see the world and what makes up my life.
            Most of the content is a direct feed from the <a href="http://stigok.tumblr.com">stigok tumblr account</a>.
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-post">
        <div class="panel-body">
          <h2>Open Source</h2>
          <p>
            This page is open source! Made with angular, bootstrap and love.
            Browse, fork or contribute to the code at <a href="http://github.com/stigok/stigokdotcom" target="_blank">http://github.com/stigok/stigokdotcom</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-post">
        <div class="panel-body">
          <h2>Donate</h2>
          <p>
            If you would like to help fund my cause, e.g. if you support
            what I do, a project you've found useful, or simply want to throw
            random funds my way, I appreciate it deeply. I try as much as I can to stay
            away from doing things for the sake of money, as it fucks up my vision.
            I instead let the universe serve me it's random positive incidents,
            and it works out in the most interesting ways. stay true! 1love!
          </p>
          <p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="T59MW8FNHWAFW">
              <button type="submit" class="btn btn-sm btn-success">Donate with PayPal</button>
            </form>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <blockquote>
        Trust that shit
        <small>Drake</small>
      </blockquote>
    </div>
  </div>
</div>
