<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 normal-content">
      <h1>stigok</h1>
      <p>
        I do what I love and love what I do. This page is an expression of how
        I see the world and what makes up my life.
        Most of the content is a direct feed from the <a href="http://stigok.tumblr.com">stigok tumblr account</a>.
      </p>

      <h2>donate</h2>

      <p>
        If for any reason you donate money to my life, e.g. if you want to support
        what I do, a project you've found useful, or simply want to throw
        random funds my way, I appreciate it deeply. I try as much as I can to stay
        away from doing things for the sake of money, as it fucks up my vision.
        I instead try to let the universe supply me with random positive incidents,
        and it works out in the most interesting ways. 1love!
      </p>

      <p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="T59MW8FNHWAFW">
          <button type="submit" class="btn btn-sm btn-success">Donate with PayPal</button>
        </form>
      </p>

      <blockquote>
        Trust that shit
        <small>Drake</small>
      </blockquote>
    </div>
  </div>
</div>
